* {
    box-sizing: border-box;
    font-size: 100%;
    background-color: #323232;
}

.backgroundImage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('images/logoBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------ Logo ------*/
.creationLogoContainer {
    background: transparent;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.creationLogoContainer h1 {
    background: transparent;
    text-shadow: 3px 3px #000000;
}

/*------ Options ------*/
.creationTopnav {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.creationTopnav a {
    color: white;
    padding: 14px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    background: transparent;
}

.creationTopnav a:hover {
    border: 1px solid rgb(0, 195, 255);
}


.space{
    padding-top: 80px;
}
/*------ Form ------*/

.creationFormSeries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(131, 131, 131);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: auto;
    width: 40%;
    height: 400px;
}

.creationFormSeries h1{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0, 196, 0);
}

.creationFormSeries div{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.creationIcon{
    margin: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    height: 25px !important;
    width: 30% !important;
}
.creationFormSeries input{
    margin: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    height: 35px;
    width: 60%;
}
.creationFormSeries input:hover { 
    border: 1px solid rgb(0, 196, 0);
}
.creationSeriesButtonSubmit{
    margin: 5px;
    text-align: center;
    font-size: 18px;
    color: rgb(218, 218, 218);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    height: 30px;
    width: 25%;

}

.creationSeriesButtonSubmit:hover{
    border: 1px solid rgb(0, 196, 0);
}



.creationFormMovie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(131, 131, 131);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: auto;
    width: 40%;
    height: 400px;
}

.creationFormMovie h1{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0, 196, 196);
}

.creationFormMovie div{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.creationFormMovie label {
    color: rgb(0, 255, 255);
}

.creationFormMovie input{
    margin: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    height: 35px;
    width: 60%;
}
.creationFormMovie input:hover { 
    border: 1px solid rgb(0, 196, 196);
}
.creationMovieButtonSubmit{
    margin: 5px;
    text-align: center;
    font-size: 18px;
    color: rgb(218, 218, 218);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    height: 30px;
    width: 25%;

}

.creationMovieButtonSubmit:hover{
    border: 1px solid rgb(0, 196, 196);
}



.creationFormGames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(131, 131, 131);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: auto;
    width: 40%;
    height: 400px;
}

.creationFormGames h1{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(196, 0, 0);
}

.creationFormGames div{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

.creationFormGames label {
    color: rgb(0, 255, 255);
}

.creationFormGames input{
    margin: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    height: 35px;
    width: 60%;
}
.creationFormGames input:hover { 
    border: 1px solid rgb(196, 0, 0);
}
.creationGamesButtonSubmit{
    margin: 5px;
    text-align: center;
    font-size: 18px;
    color: rgb(218, 218, 218);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    height: 30px;
    width: 25%;

}

.creationGamesButtonSubmit:hover{
    border: 1px solid rgb(196, 0, 0);
}
/*------ Footer ------*/

.creationFooter{
    padding: 20px;
    margin-top: 320px;
    text-align: center;
    color: rgb(202, 202, 202);
    background-color: #3f3f3f;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}