* {
    box-sizing: border-box;
    font-size: 100%;
    background-color: #323232;
}

.backgroundImage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('images/logoBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------ Logo ------*/
.gameLogoContainer {
    background: transparent;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
}
.gameLogoContainer h1 {
    background: transparent;
    text-shadow: 3px 3px #000000;
}

/*------ Options ------*/
.gameTopnav {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.gameTopnav a {
    color: white;
    padding: 14px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    background: transparent;
}

.gameTopnav a:hover {
    border: 1px solid rgb(0, 195, 255);
}

/*------ topBox ------*/

.gameTopBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.gameTopBoxLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    border-right: 1px solid rgb(156, 156, 156);
}

.gameTopBoxRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.gameIcon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 30%;
}

.gameIconImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    height: 200px;
    width: 150px;
    color: rgb(129, 129, 129);
}
.gameIconImage:hover{
    border: 1px solid rgb(0, 209, 224);
}
.gameName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.gameNameText{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    color: white;
}
.gameStatInputs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    color: rgb(172, 172, 172);
}

.gameInputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.gameStatInput{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    width: 100%;
    height: 30px;
    color: rgb(185, 185, 185);
}
.gameStatInput:hover{
    border: 1px solid rgb(0, 209, 224);
}


/*Submit button*/
.submitStatusButton{
    margin-top: 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    color: white;
}

.submitStatusButton:hover{
    border: 1px solid rgb(0, 209, 224);
}


/*Game average score*/

.gameScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
}
.gameScore a{
    font-size: 40px;
}
/*------ Info Area ------*/

.gameInfoBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameDescription{
    border-right: 1px solid rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    padding: 30px;
    padding-left: 100px;
    color: #ddd;
}
.gameAddInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ddd;
    font-size: 20px;
    font-weight: bolder;
}

.gameAddInfo a{
    font-size: 18px;
    font-weight: normal;
    color: rgb(190, 190, 190);
}

/*------ Footer ------*/

.gameCommentsBox{
    border-top: 1px solid rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 70px;
}

.gameComment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid rgb(142, 209, 253);
    border-radius: 50px;
    height: 200px;
    color: #ddd;
}

/*------ Footer ------*/

.gameFooter{
    padding: 20px;
    text-align: center;
    color: rgb(202, 202, 202);
    background-color: #3f3f3f;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}


/*------ Mobile ------*/
@media only screen and (max-width: 1280px) {
    /* For mobile phones: */
    .gameStatInputs{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        color: rgb(172, 172, 172);
    }
    
    .gameInputs{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
    }
    .gameIcon{

        width: 100%;
    }
    }
@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    .gameTopBox{
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .gameTopBoxLeft{
        flex-direction: column;
        border-right: 0px solid rgb(156, 156, 156);
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .gameTopBoxRight{
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .gameIcon{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .gameName{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .gameStatInputs{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        color: rgb(172, 172, 172);
    }
    
    .gameInputs{
        flex-direction: column;
        width: 90%;
    }

    .gameNameText{
        padding-top: 30px;
    }

    .gameInfoBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gameDescription{
        border-right: 0px solid rgb(92, 92, 92);
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .gameAddInfo{
        width: 100%;
    }
    
  }