* {
    box-sizing: border-box;
    font-size: 100%;

}
body {
    background-color: #323232e1;
}

.backgroundImage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('images/logoBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*------ Logo ------*/
.indexLogoContainer {
    background: transparent;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.indexLogoContainer h1 {
    background: transparent;
    text-shadow: 3px 3px #000000;
}

/*------ Options ------*/
.indexTopnav {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.indexTopnav a {
    color: white;
    padding: 14px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    background: transparent;
}

.indexTopnav a:hover {
    border: 1px solid rgb(0, 195, 255);
}

/*------ Search ------*/

.searchInputsButtons{
    display: flex;
    flex-direction: column;
    background-color: #32323241;
}

.searchAreaConfig{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: -20px;
}

.showMoviesButton{
    margin: 20px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(0, 255, 255);
    width: 5%;
    text-align: center;
    color: #ddd;
    cursor: pointer;
    background-color: #3232325e;
}
.showMoviesButton:hover {
    border: 1px solid rgb(0, 170, 170);
}

.showGamesButton{
    margin: 20px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(255, 0, 0);
    width: 5%;
    text-align: center;
    color: #ddd;
    cursor: pointer;
    background-color: #3232325e;
}
.showGamesButton:hover {
    border: 1px solid rgb(170, 0, 0);
}

.showSeriesButton{
    margin: 20px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(0, 255, 0);
    width: 5%;
    text-align: center;
    color: #ddd;
    cursor: pointer;
    background-color: #3232325e;
}
.showSeriesButton:hover {
    border: 1px solid rgb(0, 170, 0);
}

.searchArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

#searchMovies {
    margin: 20px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(0, 255, 255);
    width: 40%;
    text-align: center;
    color: #ddd;
    background-color: #32323275;
}

#searchMovies:hover {
    border: 1px solid rgb(0, 196, 196);
}

#searchGames {
    margin: 20px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(255, 0, 0);
    width: 40%;
    text-align: center;
    color: #ddd;
    background-color: #32323275;
}

#searchGames:hover {
    border: 1px solid rgb(196, 0, 0);
}

#searchSeries {
    margin: 20px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(0, 255, 0);
    width: 40%;
    text-align: center;
    color: #ddd;
    background-color: #32323275;
}

#searchSeries:hover {
    border: 1px solid rgb(0, 196, 0);
}
/*------ Content ------*/

.indexContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.movieHref{
    text-decoration: none;
    color: #ddd;
    margin: 20px;
}

.movieHrefContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid rgb(107, 175, 175);
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.movieHrefContent:hover{
    border: 1px solid rgb(49, 88, 88);
}

.gameHrefContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid rgb(172, 0, 0);
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}
.gameHrefContent:hover{
    border: 1px solid rgb(94, 0, 0);
}

.seriesHrefContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid rgb(0, 172, 43);
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}
.seriesHrefContent:hover{
    border: 1px solid rgb(0, 99, 25);
}

.noNewResult{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.noResult{
    width: 50%;
    color: #ddd;
    text-align: center;
    margin: auto;
}
.createNewRecordHref{
    text-decoration: none;
    color: #ddd;
    margin: 20px;
}
.createNewMovieRecord{
    border-radius: 50px;
    border: 1px solid rgb(0, 88, 88);
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}
.createNewMovieRecord:hover{
    border: 1px solid rgb(0, 60, 60);
}

.createNewGameRecord{
    border-radius: 50px;
    border: 1px solid rgb(80, 0, 0);
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}
.createNewGameRecord:hover{
    border: 1px solid rgb(44, 0, 0);
}

.createNewSeriesRecord{
    border-radius: 50px;
    border: 1px solid rgb(0, 88, 0);
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}
.createNewSeriesRecord:hover{
    border: 1px solid rgb(0, 60, 0);
}
/*------ Footer ------*/

.indexFooter{
    padding: 20px;
    margin-top: 600px;
    text-align: center;
    color: rgb(202, 202, 202);
    background-color: #32323241;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .indexLogoContainer {
      width: auto;
    }
    #searchMovies {
        width: 70%;
    }
    #searchGames {
        width: 70%;
    }
    #searchSeries {
        width: 70%;
    }

    .showMoviesButton{
        width: 10%;
    }
    .showGamesButton{
        width: 10%;
    }
    .showSeriesButton{
        width: 10%;
    }
  }

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .indexLogoContainer {
      width: auto;
    }
    #searchMovies {
        width: 100%;
    }
    #searchGames {
        width: 100%;
    }
    #searchSeries {
        width: 100%;
    }

    .showMoviesButton{
        width: 15%;
    }
    .showGamesButton{
        width: 15%;
    }
    .showSeriesButton{
        width: 15%;
    }
  }