* {
    box-sizing: border-box;
    font-size: 100%;

}
body {
    background-color: #444444;
}

.backgroundImage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('images/logoBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*------ Logo ------*/
.profileLogoContainer {
    background: transparent;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
    width: 100%;
}
.profileLogoContainer h1 {
    background: transparent;
    text-shadow: 3px 3px #000000;
}

/*------ Options ------*/
.profileTopnav {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.profileTopnav a {
    color: white;
    padding: 14px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    background: transparent;
}

.profileTopnav a:hover {
    border: 1px solid rgb(0, 195, 255);
}

/*------ Content ------*/

.profileAll{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.profileAccount{
    border-bottom: 1px solid rgb(116, 116, 116);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 20px;
}
.profileAccountImage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    height: 200px;
    width: 200px;
    color: rgb(129, 129, 129);
    overflow: auto;
}
.profileAccountImage:hover{
    border: 1px solid rgb(0, 209, 224);
}
.profileAccountImage img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.profileAccountName{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.profileAccountName h2{
    padding-left: 200px;
    font-size: 50px;
}

.profileContent{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.profileContentStats{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.space{
    padding-top: 10px;
    border-top: 1px solid rgba(143, 143, 143, 0.219);
}
.statsEntertainmentMovies{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.statsEntertainmentSeries{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.statsEntertainmentGames{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.statsEntertainmentMovies h2{
    font-size: 25px;
    color: white;
    border-bottom: 1px solid rgb(0, 255, 255, 0.5);
}
.statsEntertainmentSeries h2{
    font-size: 25px;
    color: white;
    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
}
.statsEntertainmentGames h2{
    font-size: 25px;
    color: white;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

.profileContentStats a{
    font-size: 20px;
    color: rgb(214, 214, 214);
}
.profileContentStats h1{
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.profileContentData{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 60px;
    padding-right: 60px;
    padding-left: 60px;
    width: 80%;
}

.profileLeft{
    flex: 33%;
    padding: 20px;
    text-align: center;
}
.profileMain{
    flex: 33%;
    padding: 20px;
    text-align: center;
}
.profileRight{
    flex: 33%;
    padding: 20px;
    text-align: center;
}
.profileLeft h2{
    font-size: 30px;
    color: white;
    border-bottom: 1px solid rgb(0, 255, 255, 0.5);
}
.profileMain h2{
    font-size: 30px;
    color: white;
    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
}
.profileRight h2{
    font-size: 30px;
    color: white;
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

.profileLeft a{
    text-decoration: none;
    padding: 7px;
}
.profileMain a{
    text-decoration: none;
    padding: 7px;
}
.profileRight a{
    text-decoration: none;
    padding: 7px;
}

.statusHrefMovies {
    margin: auto;
    color: white;
    background-color: rgb(97, 97, 97);
    border: 1px solid rgba(170, 170, 170, 0);
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.statusHrefMovies:hover {
    border: 1px solid rgba(0, 255, 255, 0.5);
}

.statusHrefSeries {
    margin: auto;
    color: white;
    background-color: rgb(97, 97, 97);
    border: 1px solid rgba(170, 170, 170, 0);
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.statusHrefSeries:hover {
    border: 1px solid rgb(0, 255, 0, 0.5);
}

.statusHrefGames {
    margin: auto;
    color: white;
    background-color: rgb(97, 97, 97);
    border: 1px solid rgba(170, 170, 170, 0);
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.statusHrefGames:hover {
    border: 1px solid rgb(255, 0, 0, 0.5);
}
/*------ Footer ------*/

.profileFooter{
    padding: 20px;
    text-align: center;
    color: rgb(202, 202, 202);
    background-color: #3f3f3fee;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}

@media only screen and (max-width: 1050px) {
    /* For mobile phones: */
    .profileContent{
        flex-direction: column;
        padding-top: 20px;
    }

    .profileContentStats{
        width: 70%;
        margin: auto;
    }
    .profileContentData{
        width: 70%;
        margin: auto;
    }

    .statusHrefGames{
        width: 100%;
    }
    .statusHrefSeries{
        width: 100%;
    }
    .statusHrefMovies{
        width: 100%;
    }
    .profileContentData{
        flex-direction: column;
    }
}

@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    .profileContentData{
        flex-direction: column;
    }
    .profileLogoContainer h1 {
        font-size: 40px;
    }
    .profileAccount{
        padding-left: 100px;
    }
  }

  @media only screen and (max-width: 715px) {
    /* For mobile phones: */
    .profileAccountImage{
        height: 150px;
        width: 150px;
    }
    .profileAccountName h2{
        padding-left: 50px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .profileLogoContainer h1 {
        font-size: 30px;
    }
    .profileAccount{
        padding-left: 0px;
    }
    .profileAccountImage{
        height: 120px;
        width: 120px;
    }
    .profileContentData{
        padding-left: 0px;
        padding-right: 0px;

    }
}