* {
    box-sizing: border-box;
    font-size: 100%;

}
body {
    background-color: #323232ec;
}
.backgroundImage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('images/logoBackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------ Logo ------*/
.seriesPagesLogoContainer {
    background: transparent;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
    width: auto;
}
.seriesPagesLogoContainer h1 {
    background: transparent;
    text-shadow: 3px 3px #000000;
}

/*------ Options ------*/
.seriesPagesTopnav {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.seriesPagesTopnav a {
    color: white;
    padding: 14px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 50px;
    background: transparent;
}

.seriesPagesTopnav a:hover {
    border: 1px solid rgb(0, 195, 255);
}

/*------ Content ------*/

.seriesPagesContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.seriesPagesTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid rgba(0, 255, 0, 0.5);
    padding-top: 50px;
}

.seriesPagesTable{
    border: 1px solid white;
    box-shadow: 0px 20px 20px 10px rgba(0,0,0,0.2);
    background-color: #4b4b4b;
    margin: 20px;
}

.seriesIconImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    height: 200px;
    width: 132px;
    overflow: auto;
}
.seriesIconImage:hover{
    border: 1px solid rgb(0, 209, 224);
}

.seriesPagesTable img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.seriesPagesTable table{
    text-align: center;
    background-color: #4b4b4b;
    padding: 40px;
    width: 100%;
}

.seriesPagesTable th {
    background-color: #4b4b4b;
    border-bottom: 2px solid rgb(173, 173, 173);
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 20%;
}
.seriesPagesTable td {
    background-color: #4b4b4b;
    padding: 20px;
    color: #ddd;
}
.seriesPagesTable a {
    color: #ddd;
    text-decoration: none;
    font-size: 20px;
}
.seriesPagesTable a:hover {
    color: rgba(0, 255, 0, 0.5);
}
/*------ Footer ------*/

.seriesPagesFooter{
    padding: 20px;
    margin-top: 490px;
    text-align: center;
    color: rgb(202, 202, 202);
    background-color: #3f3f3f;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}


@media only screen and (max-width: 1280px) {
    /* For mobile phones: */
    .seriesIconImage{
        height: 150px;
        width: 99px;
    }
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .seriesIconImage{
        height: 100px;
        width: 66px;
    }
    .seriesPagesTable table{
        padding: 0px;
    }
    .seriesPagesLogoContainer h1 {
        font-size: 32px;
    }
    .seriesPagesContent {

        width: 100%;
    }
    .seriesPagesTitle{
        padding-left: 50px;
        font-size: 30px;
    }

    .seriesPagesTable th {
        font-size: 14px;
        width: 20%;
    }
    .seriesPagesTable td {
        padding: 10px;
        font-size: 12px;
    }

    .seriesPagesTable a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 380px) {
    /* For mobile phones: */
    .seriesPagesTitle{
        font-size: 27px;
    }
    .seriesIconImage{
        height: 65px;
        width: 42px;
    }
    .seriesPagesTable td {
        padding: 10px;
    }
    .seriesPagesTable th {
        font-size: 13px;
    }
    .seriesPagesTable a {
        font-size: 11px;
    }
}